:root {
  --glow-scale: 1.5;
  --glow-opacity: 0.3;
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes powerUpFlash {
  0% {
    background-color: rgb(156, 3, 156);
    opacity: 1;
  }

  /* 50% {
    background-color: rgb(241, 203, 33);
  } */

  100% {
    opacity: 0.6;
    background-color: crimson;
  }
}


@keyframes glow {
  0% {
    opacity: var(--glow-opacity);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(var(--glow-scale));
  }
}

@keyframes winTextScale {
  0% {
    opacity: 0;
    letter-spacing: 3px;
    transform: scale(0.5);
  }

  75%,
  100% {
    opacity: 1;
    letter-spacing: 5px;
    transform: scale(1);
  }
}

@keyframes winGlow {
  0% {
    transform: scale(1);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
    text-stroke: 1px rgba(255, 255, 255, 0.6);
  }

  75%,
  100% {
    transform: scale(2.5);
    -webkit-text-stroke: 4px rgba(255, 255, 255, 0);
    text-stroke: 4px rgba(255, 255, 255, 0);
  }
}

@keyframes rotateCard {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

@keyframes revealCard {
  0%,
  31% {
    --image: var(--image);
    background-image: var(--image);
    background-position: center;
    background-size: min(70px, 80%);
    background-blend-mode: screen;
    background-color: var(--card-bgcolor);
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.35),
      inset -1px -4px 6px rgba(0, 0, 0, 0.25);
  }

  100% {
    --image: var(--reveal-image);
    background-image: var(--image);
    background-position: center;
    background-size: min(90px, 80%);
    background-blend-mode: normal;
    background-color: whitesmoke;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.35);
  }
}