* {
  box-sizing: border-box;
}

body {
  padding: 0 20px 0;
  --story-text-color: rgb(204, 250, 77);
}

.type {
  --n: 800;
  --typing-animation-time: calc(var(--n) * 40ms);
  display: inline;
  color: transparent;
  font-weight: 500;
  background: linear-gradient(-90deg, var(--story-text-color) 5px, #0000 0) 10px
      0,
    linear-gradient(var(--story-text-color) 0 0) 0 0;
  background-size: calc(var(--n) * 1ch) 100%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation: blinking 0.7s infinite steps(1),
    typing var(--typing-animation-time) steps(var(--n)) forwards;
}

h1 {
  text-align: center;
}

form {
  display: grid;
  max-width: 650px;
  column-gap: 10px;
  row-gap: 5px;
  margin: auto;
}

form > p {
  background-color: rgb(5, 4, 17);
  color: var(--story-text-color);
  padding: 25px;
  min-height: 200px;
  min-width: 250px;
  max-height: 430px;
  overflow: auto;
  border-radius: 15px;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 1px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 12;
  margin-left: 30px;
}

form input:not(:first-of-type),
form label:not(:first-of-type, :nth-of-type(2)),
form input:placeholder-shown + button {
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s linear 0.3s;
}

form input:not(:placeholder-shown) + label + input,
form input:not(:placeholder-shown) + label,
form input:not(:placeholder-shown) + button {
  opacity: 1;
  z-index: initial;
}

form label,
form input,
form button {
  grid-column-start: 1;
  grid-column-end: 3;
}

form label {
  margin-top: 12px;
  font-size: 12px;
}

form label[for="title"],
form label[for="name"] {
  grid-row-start: 1;
  grid-row-end: 2;
}

form select#title,
form input#name {
  grid-row-start: 2;
  grid-row-end: 3;
}

form label[for="title"],
form select#title {
  grid-column-start: 1;
  grid-column-end: 2;
}

form label[for="name"],
form input#name {
  grid-column-start: 2;
  grid-column-end: 3;
}

form label[for="phone-telcode"],
form label[for="phone"] {
  grid-row-start: 5;
  grid-row-end: 6;
}

form input#phone-telcode,
form input#phone {
  grid-row-start: 6;
  grid-row-end: 7;
}

form label[for="phone-telcode"],
form input#phone-telcode {
  grid-column-start: 1;
  grid-column-end: 2;
}

form label[for="phone"],
form input#phone {
  grid-column-start: 2;
  grid-column-end: 3;
}

form input#phone-telcode,
form select#title {
  width: 80px;
}

form input,
form select {
  padding: 20px;
  border-radius: 12px;
  color: black;
  border: 1px solid silver;
  background-color: rgb(228, 228, 228);
}

form select {
  padding: 10px;
}

form button {
  background-color: crimson;
  padding: 20px;
  border-radius: 12px;
  color: white;
  border: none;
  margin-top: 15px;
}

@keyframes typing {
  from {
    background-size: 0 100%;
  }
}

@keyframes blinking {
  50% {
    background-position: 0 -100%, 0 0;
  }
}

@media only screen and (max-width: 768px) {
  form label,
  form label[for="name"],
  form label[for="title"],
  form label[for="phone"],
  form label[for="phone-telcode"],
  form input,
  form input#name,
  form input#phone,
  form select#title,
  form input#phone-telcode,
  form button {
    min-width: 200px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: initial;
    grid-row-end: initial;
  }

  form input,
  form select {
    padding: 10px;
    border-radius: 8px;
  }

  form button {
    border-radius: 8px;
  }

  form input#phone-telcode,
  form select#title {
    width: auto;
  }

  form > p {
    /* background-color: rgb(5, 4, 17);
    color: var(--story-text-color);
    padding: 25px;
    min-height: 200px;    
    overflow: auto;
    border-radius: 15px;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 1px; */
    min-width: 150px;
    max-height: 500px;
    grid-column-start: 2;
    /* grid-column-end: 3; */
    grid-row-start: 1;
    grid-row-end: 14;
    margin-left: 20px;
  }
}
